/* Aquí van tus estilos */
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
.App {
   
    background-image: url(../images/colourful-night-sky-with-stars-nebula.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 background-attachment: fixed;
   height: 100%;
   
   
   
 
 
    
    
    
}

.main {
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

